 <div class="jumbotron">  
  <h1 class="display-4">Welcome to gogopizza web app</h1>
  <p>this site is under construction </p>
</div>
<p>
<%= link_to "Manage Cuisines", cuisines_path %>
</p>
<p> 
<%= link_to "Manage Food Items", foods_path %>
</p>

